
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background-color: #000000;
    color: rgb(255, 255, 255);
    text-align: center;
}
   body.dark-mode {
  background-color: #2c3e50;
  color: #ecf0f1;
}

body.dark-mode .container {
  background-color: #000000;
  
}

body.dark-mode a {
  color: #ffffff;
}